<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User_Index_View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/home">MiniTwitter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/user/index">Login <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/register">SignUp <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container text-center">
<h1>Welcome</h1>
<h2> You have logged in Successfully.</h2>
    <div class="text"  >
        <h1> <b> User:</b></h1>
    </div>
        <div >
            <ul style="border-radius:35px" class="user_index_css" >
                <li class="list" ><a class="user_index_a" href="/user/profile">MyProfile</a></li>
                <li class="list"><a class="user_index_a" href = "/user/follow">Following</a> </li>
                <li class="list"> <a class="user_index_a" href = "/user/my_followers">Followers</a></li>
                <li class="list"> <a class="user_index_a" href = "/user/show_users">All Users</a></li>
            </ul>

        </div>
        <div class="text"  >
            <h1 > <b> Tweet:</b></h1>
        </div>
    <div >
        <ul style="border-radius:35px"  class="user_index_css">
            <li class="list"><a class="user_index_a" href="/user/tweet">Tweet</a> </li>
            <li class="list"> <a class="user_index_a" href="/user/show_tweets">Show Tweets</a></li>
            <li class="list"> <a class="user_index_a" href="/user/show_my_tweets">Show My Tweets</a></li>
        </ul>
    </div>

<h3>If you want to logout Click below.</h3>
<h3><a style="background-color:skyblue" href="/logout">Logout</a></h3>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>