<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Detailed Tweet</title>
</head>
<body>
<section>
  <div class="container">
    <div class="my-card">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">User Name:</th>
          <th scope="col">Tweet:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${tweets}">
          <td th:text="${c.name}">m</td>
          <td th:text="${c.description}">M</td>

          <td >
            <form method="post" th:action="@{'/user/like_tweet/'+${c.tId}}">
              <button class="btn btn-primary btn-sm" th:if="${condition} == 'True'">like</button>
            </form>

          </td >
          <td >
            <form method="post" th:action="@{'/user/unlike_tweet/'+${c.tId}}">
              <button class="btn btn-primary btn-sm" th:unless="${condition} == 'True'">unlike</button>
            </form>

          </td>
          <td>
            <form method="post" th:action="@{'/user/countlike_tweet/'+${c.tId}}">
              <button class="btn btn-primary btn-sm" >LikesCounter</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
      <h3 style="text-align:right"><a href="/user/index">back</a></h3>

    </div>

  </div>
</section>

</body>
</html>
