<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::body})">
<head>
    <style>

body{
    background-image: url('https://i.postimg.cc/Bn1Kjh56/3040067.jpg');
         background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-color: white;
}

</style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Page</title>
</head>
<body>

<div class="myDiv text-left">
        <h1>Welcome to MiniTwitter</h1>

    <h3><a href="/register" style="color:black; text-decoration:none">Register</a></h3>
    <h3><a href="/user/index" style="color:black; text-decoration:none">Login</a></h3>

</div>
</body>
</html>