<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Likes Counter</title>
</head>
<body>
<section>
    <div class="container">
        <div class="my-card">
            <h1 style="text-align: center">Like Counter.</h1>
            <h3><b>LIKES: </b><span th:text="${counter}"></span></h3>
            <h3 style="text-align:right"><a href="/user/show">back</a></h3>

        </div>

    </div>
</section>

</body>
</html>




