<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>User Following</title>
</head>
<body>
<section>
    <div class="container">
        <div class="my-card">
            <h1 style="text-align: center"> <b> Your Followers</b></h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col" style="text-align:center">UserId</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${followers}">
                    <th scope="row" th:text = "${c.id}">1</th>
                    <td style="text-align:center">
                        <a class="following_a" style="background-color: #498bc6;border-radius: 17px;"href="#" th:href="@{'/user/'+${c.fid}}" >
                            <span th:text="${ 'miniUser' + c.fid}">m</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3 style="text-align:right"><a href="/user/index">back</a></h3>

        </div>

    </div>
</section>
</body>
</html>








