<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Users List</title>
</head>
<body>
<section>
  <div class="container">
    <div class="my-card">
      <h1 style="text-align: center"> <b> All Users</b></h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${users}">
          <th scope="row" th:text = "${c.id}">1</th>
          <td th:text="${c.name}">name</td>
          <td th:text="${c.email}">email</td>
          <td>
            <form th:action="@{'/user/'+${c.id}}">
              <button class="btn btn-primary btn-sm">View Profile</button>
            </form>
          </td>

        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a style = "background:#007bff;" class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a style = "background:#007bff;" class="page-link" href="#">1</a></li>
          <li class="page-item"><a style = "background:#007bff;" class="page-link" href="#">2</a></li>
          <li class="page-item"><a style = "background:#007bff;" class="page-link" href="#">3</a></li>
          <li class="page-item"><a style = "background:#007bff;" class="page-link" href="#">Next</a></li>
        </ul>
      </nav>


      <h3 style="text-align:right"><a href="/user/index">back</a></h3>

    </div>

  </div>
</section>

</body>
</html>


