<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>User Following</title>
</head>
<body>
<section>
  <div class="container">
    <div class="my-card">
      <h1 style="text-align: center"> <b>You can Tweet here</b></h1>
      <form th:action="@{/user/tweet_success}" th:object="${tweet}"
            method="post" style="max-width: 600px; margin: 0">

        <div class="form-group row">
          <label class="col-4 col-form-label"><h3>Tweet:</h3></label>
          <div align="center">
            <textarea align="center" style="margin-left:30px" th:field="*{description}" rows="4" cols="50"></textarea>
          </div>
        </div>

        <div style="text-align:right">
          <span style="float:left"><button style="margin-left:20px; text-align:left" type="submit" class="btn btn-primary">Post</button></span>
          <span ><a style="background-color:lightgrey; background-color: #0069d9;border-radius: 5px;padding: 8px 13px;" href="/user/index">back</a></span>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>









