<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Profile</title>
</head>
<body>
<section>
    <div class="container">
        <div class="my-card">
            <h1 style="text-align: center">Your profile.</h1>
            <h3> <b>FULLNAME: </b><span th:text="${user.name}"></span></h3>
            <h3><b>EMAIL: </b><span th:text="${user.email}"></span></h3>
            <h3><b>BIO: </b><span th:text="${user.bio}"></span></h3>
            <h3 style="text-align:right"><a href="/user/index">back</a></h3>

        </div>

    </div>
</section>
</body>
</html>




