<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>User_Index_View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>

    </style>
</head>
<body>
<div class="container text-center">
<h1>Welcome</h1>
<h2> You have logged in Successfully.</h2>
    <div class="text"  >
        <h1> <b> User:</b></h1>
    </div>
        <div >
            <ul style="border-radius:35px" class="user_index_css" >
                <li class="list" ><a class="user_index_a" href="/user/profile">MyProfile</a></li>
                <li class="list"><a class="user_index_a" href = "/user/follow">Following</a> </li>
                <li class="list"> <a class="user_index_a" href = "/user/my_followers">Followers</a></li>
                <li class="list"> <a class="user_index_a" href = "/user/show_users">All Users</a></li>
            </ul>

        </div>
        <div class="text"  >
            <h1 > <b> Tweet:</b></h1>
        </div>
    <div >
        <ul style="border-radius:35px"  class="user_index_css">
            <li class="list"><a class="user_index_a" href="/user/tweet">Tweet</a> </li>
            <li class="list"> <a class="user_index_a" href="/user/show">Show All Tweets</a></li>
            <li class="list"> <a class="user_index_a" href="/user/show_my_tweets">Show My Tweets</a></li>
        </ul>
    </div>
<h3>If you want to logout Click below.</h3>
<h3><a style="background-color:skyblue" href="/logout">Logout</a></h3>
</div>
</body>
</html>